# # node modules
# node_modules
# */node_modules

# # environment variables
# .env
# */.env

# # build folders
# dist
# build

# # vite cache
# .vite

# .future-enhancements.md
# */.future-enhancements.md